@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



html, body {

    height: 100%;

    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2B2C34;

}



a {

    text-decoration: none;

    color: inherit;

}




table {

    border-collapse: collapse;

    border-spacing: 0;

}



button {

    border: none;

    background: none;

    cursor: pointer;

}



img {

    max-width: 100%;

    height: auto;

}